.jumbotron {
  padding-top: 6rem;
  background-color: rgb(117, 117, 117);
}

#projects {
  color: whitesmoke;
  background-color: rgb(117, 117, 117);
}

section {
  padding-top: 6rem;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.grabbing {
  cursor: grabbing;
}
